<li>
    <% if !comment.new_record? %>
        <span class="author"><%= link_to comment.user.username, comment.user %></span>
        <span class="delete_button">
            <% if comment.user == current_user%>
                <span><%=  link_to "Delete", post_comment_path(comment.post,comment), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure?"}, remote: true%></span>
            <% end %>
        </span>
        
        <span class="avatar"><%= image_tag comment.user.picture.thumb.url if comment.user.picture? %></span>
        <span class="content"><%= comment.content %></span>
        
        
    <% end %>
</li>