<div class="user user_<%= user.id %>">
    <div class="user_item">
        <% if !user.new_record? %>
            <span><%= image_tag user.picture ? user.picture.url : user.picture.thumb.default_url   %></span>
            <span style="display:inline;"><%= link_to user.username, user_path(user) %></span>
            <div id= "friend_status">
                <% if current_user.friend?(user)%>
                    (Friend)
                <% end %>
            </div>
        <% end %>
    </div>    
    <% if !is_post %>
        <div id="friend_request">
            
            <div id= "friend_form">
                <% if current_user != user%>
                    <span> <%= render partial: 'friend', locals: {user: user} %></span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
