<div id="profile">
    <div id="profile_title">
        <h1>Profile</h1>
    </div>
    <div id="edit_profile">
        <% if current_user == @user%>
            <%= link_to "Edit Profile", edit_user_registration_path  %>
        <% end %>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <section>
            <%= render partial: @user, locals: {is_post: false} %> 
        </section>
        
    </div>

    <div class="col-md-8">
        <% if @posts.any?%>
            <ol class="posts">
                <%= render partial: @posts, locals: {single: false} %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
    </div>
</div>
