<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
$(document).on("turbolinks:load", () =>{
    $(".comment_button").on("click",() => {
        let b = $(event.target);
        let id = b.data('id');
        let currentPost = $(`#post_${id}`);

        b.blur();

        function ajaxRequest(node, is_form){
            console.log(node);
            $.ajax({
                url: "<%= show_comment_form_posts_path %>",
                type: "get",
                data: {id: id, form: is_form},
                success: (data, status, xhr) => {
                    node.html(data.data);
                }
            });
        }

        let cs = currentPost.find(".comments_section");
        let c = currentPost.find(".comments");
        let a = currentPost.find(".add_comment_button");
        
        cs.toggleClass("js_visible");
        if (cs.hasClass("js_visible")){
            a.html("<button>Add comment</button>");
            b.data('comments') ? ajaxRequest(c, false) : c.html("No Comments!")
            b.text("Hide Comments");
            cs.slideDown();
        } else {
            cs.slideUp();
            b.text("View Comments");
        }

        currentPost.find(".add_comment_button button").on("click",() => {
            ajaxRequest(currentPost.find(".comment_form"), true);
        });
    });
});
