@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 80px;
    background-color: #e9ebee;
}

section {
    overflow: auto;
}
.navbar{
  background-color: #3b5998;
  padding: 0.2em;
  li{
    border-right: 0.1em solid gray;
    a{ 
      color: white;
      &:hover{
        background: gray;
      }
    }
    
  }
}


.item{
  background-color: white;
  border: 0.1em solid e8e8e8; 
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.posts, .comments {
  list-style: none;
  padding: 0;
  .author {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    //margin-left: 60px;
    border-bottom: 1px solid #e8e8e8;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .likes{
    border-bottom: 1px solid #e8e8e8;
  }

  .buttons{
    .like_button, .comment_button{
      display: inline-block;
      padding: 0.2em;
      border: 0 none;
      width: 50%;
      background: white;
      margin-top: 0.1em;
    }
    .like_button:hover, .comment_button:hover{
      background: $gray-light;
    }
    .liked{
      color: blue;
    }
  }
    

  .delete_button{
    display: inline-block;
  }

  .time_diff{
    display: block;
  }
}
.comments .content{
  border-top: 1px solid #e8e8e8;
}
.comments_section{
  display: none;
}

.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.user {
  #friend_status{
    color: lightslategray;
    display: inline-block;
  }
  .user_item{
    width: 100%;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    font-size: 0.9em;
    //margin-left: 60px;
  }
  .view_post {
    float: right;
    font-size: 0.9em;
  }
}

ul.users{
  list-style: none;
}
li.user{
  @extend .item;
  display: inline-block;
  width: 25%;
  margin-left: 1em;
  div {
    display: block;
  }
}


.friend_request, .user_item {
  display: inline-block;
}
.profile{
  border-bottom: 1px solid #e8e8e8;
  h1{
    vertical-align: middle;
  }
  div{
    display: inline-block;
  }
}
.alert-notice{
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)
}
.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)
}